:root {
    --primary-text-color: #212121;
    --activ-text-color: #2196F3;
    --secondary-text-colr: #757575;
    --secondary-bg-color: #F5F4FA;
    --primary-bg-color:  #fff;
    
}

body {
    background-color: #fff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* header */

.header-link {
    color: var(--primary-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.name-company {
    color: var(--activ-text-color);
}

.list {
list-style: none;
padding: 0;
margin: 0;
}

.site-info a {
    color: var(--primary-text-color); 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    text-decoration: none; 
}

.site-info{
    display: flex;
    margin-left: auto;
}

.site-info .item + .item{
    margin-left: 50px;
}

.nav-flex{
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav a {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav a.current {
    color: var(--activ-text-color);
}

.site-info a:hover, 
.site-info a:focus {
    color: var(--activ-text-color);
}

.site-nav a:hover, 
.site-nav a:focus {
    color: var(--activ-text-color);
}

.page-header {
    background-color: #ccc;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding: 0px 15px;
    outline: 2px solid tomato;
}

/* hero */

.hero {
    text-align: center;
    margin-bottom: 94px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;


}

.hero button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
}

/* advantages */

.advantages {
    margin-bottom: 94px;
}

.advantages p {
    color: var(--secondary-text-colr);

font-weight: 400;
font-size: 14px;
line-height: 1.71;
margin-top: 0;
margin-bottom: 0;
}

.advantages h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}


/* examples */

.examples {
    margin-bottom: 94px;
}


/* team */

.team p {
    color: var(--secondary-text-colr);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.team figure {
    margin: 0;
}

.team .foto {
    margin-bottom: 30px;
}

/* footer */


.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;    
}

.footer-address a {
    color: var(--primary-text-color);
    text-decoration: none;
}


/* button */

.button {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    text-decoration: none;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
}

.button.primary:hover, 
.button.primary:focus {
    background-color: var(--activ-text-color);
    color: var(--primary-bg-color);
}

.button.primary {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.button.secondary {
    background-color: var(--activ-text-color);
    color: var(--primary-bg-color);
}

.button.secondary.current {
    background-color: var(--activ-text-color);
    color: var(--primary-bg-color);
}

/* потфолио */

.works.list h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
} 

.works.list p {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
color: var(--secondary-text-colr);
}


/* цвет страницы #FFFFFF */
/* основной цвет текста 212121 */
/* вторичный цвет текста 757575 */
/* цвет эффектов 2196F3 */
/* доп. цвет фона F5F4FA */
/* цвет подвала 2F303A */
